@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, chatapp;
}

@plugin "daisyui/theme" {
  name: "chatapp";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.007 34.298);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(14% 0.004 49.25);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(76% 0.233 130.85);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

html, body, #root {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter'
}
